$color_1: #7993a5; //698497 //7993a5(原本)
$color_1_hover: #5082a4; //8ea5b5(原本)
$color_1_light: #b1d7f2;

$color_2: #78b3b4;
$color_2_hover: #51b2b4;
$color_3: #17445c; //#384b58
$color_4: #ab956c; //FF8066
$color_4: #ab956c; //FF8066
$color_4_light: #f4e1a9; //FF8066

$color_5: #58472f;

$color_warn: #df2073;
$color_warn_light: #fccccc;

$color_a: #4e8ab5; //#1890ff #40A9FF
$color_a_hover: #3c79a5;
$color_real: #00538a;
$color_real_hover: #1681e5;
$color_light: #fff6e5;

$color_black: #222;
$color_white: #f5f5f5;
$color_gray: #3f464d;
